[submodule "github/nerd-fonts"]
	path = github/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
[submodule "github/powerlevel9k"]
	path = github/powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
[submodule "github/oh-my-zsh"]
	path = github/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "github/ls-icons"]
	path = github/ls-icons
	url = git@github.com:sebastiencs/ls-icons.git
[submodule "github/colorls"]
	path = github/colorls
	url = git@github.com:athityakumar/colorls.git
[submodule "github/.tmux"]
	path = github/.tmux
	url = git@github.com:gpakosz/.tmux.git
