"*":
  core:
    projectHome: "/home/raccoon/projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "07862180-be15-4026-a21d-3b79f056680a"
  "markdown-preview": {}
  welcome:
    showOnStartup: false
